@page
@model ParkwayNorthEvents.Pages.User.MyEvents.UpdateEventModel
@{
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Update Booking</h5>
        <form method="post" asp-action="UpdateEvent">
            <div class="card-text">
                <div class="form-group row">

                    <div class="col">
                        Name of Event
                    </div>
                    <div class="col">
                        <input class="form-control mt-3" type="text" asp-for="BookingObject.EventTitle" />
                    </div>
                    <div class="col">
                        <span class="text-danger" asp-validation-for="BookingObject.EventTitle"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col">
                        Date
                    </div>
                    <div class="col">
                        <input id="datepicker" class="form-control mt-3" type="text" asp-for="BookingObject.DateOfEvent" />
                    </div>
                    <div class="col">
                        <span class="text-danger" asp-validation-for="BookingObject.DateOfEvent"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        Description
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <textarea class="form-control" asp-for="BookingObject.Description"></textarea>
                        <span class="text-danger" asp-validation-for="BookingObject.Description"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="BookingObject.BookingId" />
                <input type="hidden" asp-for="BookingObject.BookingStatus" />
                <input type="hidden" asp-for="BookingObject.ClientId" />
                <input type="hidden" asp-for="BookingObject.ClientName" />
                <div class="form-group row">
                    <div class="col-6">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn form-control">Submit</button>
                    </div>
                    <div class="col-2">
                        <button type="reset" class="btn form-control">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/datepicker.js"></script>
}