@page
@model ParkwayNorthEvents.Pages.Scheduling.ConsultationConfirmedModel
@{
}
<div class="container">
    <h2>Consultation Confirmed!</h2>
    <p>Please check your email for details. We'll be in contact shortly!</p>
</div>