@page
@model ParkwayNorthEvents.Pages.AboutModel
@{
}
<div class="container mx-auto">
    <div class="card mx-auto">
        <div class="card-body">
            <h5 class="card-title text-center">About Us</h5>
            <img class="card-img" src="~/images/ParkwayNorthNavBrand.jpg" />
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ultricies lacus sed turpis tincidunt id aliquet risus. Vitae nunc sed velit dignissim sodales. Neque laoreet suspendisse interdum consectetur
                libero id faucibus nisl. Bibendum at varius vel pharetra vel turpis. Orci ac auctor augue mauris. Et ligula ullamcorper malesuada proin libero
                nunc consequat interdum. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. Risus at ultrices mi tempus. Et netus et malesuada fames
                ac turpis egestas maecenas. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Aenean euismod elementum nisi quis eleifend. Lectus urna duis
                convallis convallis tellus id interdum velit laoreet. At elementum eu facilisis sed. Venenatis lectus magna fringilla urna porttitor rhoncus.
                Orci ac auctor augue mauris augue neque gravida in. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
            </p>
            <p class="card-text">

                Ut pharetra sit amet aliquam. Iaculis eu non diam phasellus vestibulum lorem sed risus. In eu mi bibendum neque. Interdum velit euismod in pellentesque
                massa placerat. Tristique nulla aliquet enim tortor at auctor. Nec feugiat nisl pretium fusce id velit ut tortor. Habitant morbi tristique senectus et
                netus et malesuada fames ac. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Commodo viverra maecenas accumsan lacus. Tristique magna
                sit amet purus gravida quis blandit turpis. Orci a scelerisque purus semper eget duis. Dolor morbi non arcu risus quis. Eu augue ut lectus arcu bibendum at varius.
            </p>
        </div>
    </div>
</div>