@page
@model ParkwayNorthEvents.Pages.ContactModel
@{
}
<div class="card mx-auto">
    <div class="card-body mx-auto">
        <h5 class="card-title">Contact Us</h5>
        <p class="card-text"><a href="tel:8888888888"><i class="fa-solid fa-phone"></i>888-888-8888</a></p>
        <p class="card-text"><a href="mailto:info@ParkwayNorthEvents.com"><i class="fa-solid fa-envelope"></i>info@ParkwayNorthEvents.com</a></p>
    </div>
</div>