@page
@model ParkwayNorthEvents.Pages.ServicesModel
@{
}
@*Services
    Day-Of Wedding Coordination: $650
        Includes full day-of service of two professional coordinators, initial consultation, strategy meeting, and touch-base prior to event.
        Not travel fee within one hour drive of Layton or Lehi (either point as base). 20% down payment required to secure date.
            $50 discount for first 5 brides to book
            $50 referral discount for both the referring couple and the referred couple

    Hourly Consultation/Micro-Planning: $25 per hour

    Proposal Assistance: Quote Available upon request

    Other Event Coordination: Quote available upon request
        Baby showers, bridal showers, bachelorette parties, birthday parties, etc...

    DIY Services: Limited availability upon consultation

*@

<div class="container mt-3">
    <div class="card pt-3 mb-3" style="display: flex; justify-content: space-between; flex-wrap:wrap;filter: grayscale(100%);">
        <img class="card-img-top" src="~/images/servicescards/servicepageheader.jpeg" alt="food on display" />
    </div>
    <div class="card-deck" style="display: flex; justify-content: space-between; flex-wrap:wrap">
        <div class="card col-sm-6">
            <img class="card-img-top" style="filter: grayscale(100%);" src="~/images/servicescards/dresscard.jpeg" alt="wedding dress" />
            <div class="card-body">
                <h3 class="card-title">Day-Of Wedding Coordination</h3>
                <h4 class="card-title">$650</h4>

                <p class="card-text">
                    Includes full day-of service of two professional coordinators, initial consultation, strategy meeting, and touch-base prior to event.<br />
                </p>
                <p class="card-text">
                    No travel fee within one hour drive of Layton or Lehi (either point as base). 20% down payment required to secure date.<br />
                </p>
                <p>
                    $50 discount for first 5 brides to book<br />
                    $50 referral discount for both the referring couple and the referred couple
                </p>
            </div>
        </div>
        <div class="card col-sm-6">
            <img class="card-img-top" style="filter: grayscale(100%);" src="~/images/servicescards/microplanningcard.jpeg" alt="banner with stand" />
            <div class="card-body">
                <h3 class="card-title">Hourly Consultation/Micro-Planning</h3>
                <h4 class="card-text">$25/hr</h4>
            </div>
        </div>

        <div class="card col-sm-6">
            <img class="card-img-top" style="filter: grayscale(100%);" src="~/images/servicescards/propassistance.jpeg" alt="banner with stand" />
            <div class="card-body">
                <h3 class="card-title">Proposal Assistance</h3>
                <h4 class="card-title">Quote Available upon request</h4>
            </div>
        </div>

        <div class="card col-sm-6">
            <img class="card-img-top" style="filter: grayscale(100%);" src="~/images/servicescards/diy.jpeg" alt="black diy cans" />
            <div class="card-body">
                <h3 class="card-title">DIY Services</h3>
                <h4 class="card-text">Limited availability upon consultation</h4>
            </div>
        </div>
        
        <div class="card col-sm-6">
            <img class="card-img-top" style="filter: grayscale(100%);" src="~/images/servicescards/other.jpeg" alt="custom craft" />
            <div class="card-body">
                <h3 class="card-title">Other Event Coordination</h3>
                <h4 class="card-text">Quote available upon request</h4>
            </div>
        </div>
    </div>
</div>
